**/*.ts
**/tsconfig.json
!file.ts
graphos-schema.graphql
**/*.vsix
.env
*.vsix
apollo.config.js
.vscode
.github
.gitignore
docs
images

.vscode
node_modules/!(@faker-js)/**/*
src/
tsconfig.json
webpack.config.js


apollo.config.js
**/*.zip
codegen.yml
target
src/__tests__
**/*.map
**/*.cjs