name: CI Tests

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, pull_request_review]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          check-latest: true
      #Checkout Source Code
      - name: 'Checkout source code'
        uses: 'actions/checkout@v2'
        with:
          ref: ${{ github.ref }}

      #Run project tests
      # - run: npm install
      # - run: xvfb-run -a npm run test:ci
      #   env:
      #     GITHUB_SHA: ${{ github.sha }}
      #     GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      #   if: runner.os == 'Linux'
      # - run: npm run test:ci
      #   env:
      #     GITHUB_SHA: ${{ github.sha }}
      #     GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      #   if: runner.os != 'Linux'
